* {
	margin: 0px;
	padding: 0px;
}
 /* Gives header height even though elements are 
    floating (prevents it from collapseing)*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




body{
	background-image: url("http://i.imgur.com/t72Cvkp.png");
	background-size: cover;
	font-family: proxima-nova, sans-serif; 
	font-weight: lighter;
	width: 100%;
}

/*Header*/

header{
	font-size: 30px;
	background-color: #E9ECEC;
	width: 100%;
	text-align: center;
	position: fixed; 
	top: 0px;
	left: 0px;
	z-index: 1000; /* gives priority to the element */

}
header span{
	float: left;
	padding: 20px 25px 25px 50px;
	font-size: 38px;
	font-weight: lighter;
}

/*Top Nav*/

nav ul{
	margin: 3%; /* shifts nav links down */
	width: 50%;
	float: right;
}

nav ul li {
	background-color: #E9ECEC;
	list-style-type: none;
	padding-right: 45px;
	float: left;

	}
nav ul li a {
	text-decoration: none;
	float: right;
	line-height: 20px;
	font-size: 18px;
}
nav ul li a:hover{
	text-decoration: none;
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}

/*Section*/

section span{
	clear: both;
	float: left;
	font-size: 18px;
}
section ul li {
	text-align: center;
	list-style-type: none;
}
section ul li a{
	text-align: center;
	list-style-type: none;
	text-decoration: none;
}
section ul li a:hover{
	text-decoration: none;
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}



#page_content{
	letter-spacing: 1px;
	color: #990000;
	font-size: 14px;
	background-color: #E9ECEC;
	width: 50%;
	padding: 10px 15px 10px 30px;
	margin: 15px auto;
	border-radius: 15px;

}
#index_header{
	letter-spacing: 5px;
	font-size: 30px;
	background-color: #E9ECEC;
	width: 100%;
	padding: 10px 15px 10px 15px;
	text-align: center;
	margin: 10px;
}
#center_content{
	text-align: center;
	padding:2%;
}
.pre_content{
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	padding-top: 120px;
	}
.date{
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: white;
}
/*Button*/

input {
        padding: 15px;
        font-size: 14px;
        }
    input[type= "submit"] {
        padding: 12px;
        background: red ; 
        color: white;
        font-size: 18px
      }
/*Links*/

a {
	color: black;
	font-family: proxima-nova, sans-serif; 

}
a:hover{
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 2px;
}

a img{ 
  opacity: 1; 

} 

a img:hover { 
  opacity: 0.7; 
}


ul li{
	letter-spacing: 2px;
	padding: 3px;
	color: black;
}

p{
	background-color: white;
	text-align: center;
	width: 90%;
    padding: 10px 15px 10px 15px;
}
