body{
	background-image: url("http://i.imgur.com/t72Cvkp.png");
	background-size: cover;
	font-family: proxima-nova, sans-serif; 
	font-weight: lighter;
}

#page_header{
	font-size: 30px;
	background-color: #E9ECEC;
	width: 95%;
	padding: 10px 15px 10px 15px;
	text-align: center;
	margin: 10px;
}
#page_content{
	letter-spacing: 1px;
	color: #990000;
	font-size: 14px;
	background-color: #E9ECEC;
	width: 90%;
	padding: 10px 15px 10px 30px;
	margin:  15px;
}
#index_header{
	letter-spacing: 5px;
	font-size: 30px;
	background-color: #E9ECEC;
	width: 100%;
	padding: 10px 15px 10px 15px;
	text-align: center;
	margin: 10px;
}
#center_content{
	text-align: center;
	padding:2%;
}
.pre_content{
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	}
.date{
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: white;
	}

a {
	color: black;
	font-family: proxima-nova, sans-serif; 
}

a img{ 
  opacity: 1; 

} 

a img:hover { 
  opacity: 0.7; 
}
ul li{
	letter-spacing: 2px;
	font-size: 18px;
	padding: 3px;
	color: black;
}

p{
	background-color: white;
	text-align: center;
	width: 90%;
    padding: 10px 15px 10px 15px;
}
